body {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-color: #F9FAFC;
    background-size: cover;
}

.brand {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #f91515;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.account-pg {
    background-color: white;
}

.dark-bg {
    background-color: #232424;
}

.card {
    border: none;
    background-color: #F9FAFC;
    font-family: 'Quicksand', sans-serif;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.66)
}

.about {
    border: none;
    background-color: #F9FAFC;
    font-family: 'Quicksand', sans-serif;
    text-align:center;
    font-weight: bold;
    font-size: large;
}

.results_header {
    background-color: #F9FAFC;
    font-family: 'Quicksand', sans-serif;
    text-align:left;
    font-weight: bold;
    font-size:x-large;
}
.row {
    background-color: rgba(0,0,0,0.048)
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ccd8db;
}

.author {
    color: black;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #ccd8db;
    color: black;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #ebfafd;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #f91515;
}

.post-link:hover,
.page-link {
    color: rgb(89, 89, 233);
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #ebfafd;
    color: black;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #ebfafd;
    color: #f91515;
}

.btn-outline-info {
    color:#232424;
    
}

.link {
    color: #f91515;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #f91515;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #f91515;
    background: transparent;
    border: none;
}

.fa-star {
    color: #ff8800;
}

.form-group {
    margin: 30px;
    background-color: #ccd8db;
}