{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Review Entries Column -->
        <div class="col-8 mt-3 left">
            <div class="row">
                {% for review in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in review.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/shonaobdev/image/upload/v1661676809/dino-reichmuth-A5rCN8626Ck-unsplash_ikbl72.jpg" alt="GetAround default image">
                                {% else %}
                                <img class="card-img-top" src="{{ review.featured_image.url }}" alt="Travel Image for {{ review.sight}}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ review.user_name }}</p>
                                </div>
                            </div>
                            <a href="{% url 'review_detail' review.slug  %}" class="post-link">
                                <h4 class="card-title">{{ review.title }}</h4>
                                <h5>{{ review.country }} - {{ review.city }} - {{ review.sight }}</h5>
                                <p>
                                    <span
                                        class="{% if review.rating > 0 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                                    <span
                                        class="{% if review.rating > 1 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                                    <span
                                        class="{% if review.rating > 2 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                                    <span
                                        class="{% if review.rating > 3 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                                    <span
                                        class="{% if review.rating > 4 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                                </p>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ review.created_on }}
                                <i class="far fa-heart"></i>{{ review.number_of_likes }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-4 mt-3 right">
            <div class="row">
                <div class="about">
                    <p>
                        Find the best ways to<span class="red-text"> Get Around </span>on your travels!
                    </p>
                    <p>GetAround.ie is based on our own experiences of travelling without a tour-guide.</p>
                    <p>For the most authentic (and cheapest!) experience, we wanted to use public transport to
                        get around our travel destinations. But how do we know what routes to take?
                        Which bus should we get, if we want to see the Catacombs in Rome?
                        Well this site is intended to be an encyclopedia of local knowledge for all us travellers.</p>
                    <p>Find reviews from real people for the sights you want to see.</p>
                    {% if user.is_authenticated %}
                    <p>Create your own review!</p>
                    <a href="{% url 'post_form'%}"><button class="btn">Create Review</button></a>
                    {% else %}
                    <p class="brand">Or</p>
                    <p>Register now to log a review!</p>
                    <a href="{% url 'account_signup' %}"><button class="btn">Register Now!</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{%endblock%}