{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ review.title }}
                </h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">Author: {{ review.author }} | Created On: {{ created_on }} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/shonaobdev/image/upload/v1661676809/dino-reichmuth-A5rCN8626Ck-unsplash_ikbl72.jpg"
                    width="100%">
                {% else %}
                <img src="{{ review.featured_image.url }} " width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ review.country | safe }}
                    {{ review.city | safe  }}
                    {{ review.sight | safe  }}
                    {{ review.title | safe  }}
                </p>
                <p>
                    <span
                        class="{% if review.rating > 0 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                    <span
                        class="{% if review.rating > 1 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                    <span
                        class="{% if review.rating > 2 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                    <span
                        class="{% if review.rating > 3 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                    <span
                        class="{% if review.rating > 4 %} fa-solid fa-star {% else %} fa-regular fa-star {% endif%}"></span>
                </p>
                <p>
                    {{ review.review_body | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        {% if user == review.user_name %}
                        <button class="btn btn-outline-info"><a href="{% url 'update_post' review.slug  %}"><i
                                    class="fa-solid fa-pencil"></i>Edit Review</a></button>
                        <button class="btn btn-outline-info"><a href="{% url 'delete_post' review.slug  %}"><i
                                    class="fa-solid fa-trash-can"></i>Delete Review</a></button>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' review.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>

{% endblock content %}