{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ review.title }}
                </h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">Author: {{ review.author }} | Created On: {{ created_on }} </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src="{{ review.featured_image.url }} " width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text "> 
                    {{ review.country | safe }}
                    {{ review.city | safe  }}
                    {{ review.sight | safe  }}
                    {{ review.title | safe  }}
                    {{ review.rating | safe  }}
                </p>
                <p>
                    {{ review.review_body | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-heart"></i> {{ review.number_of_likes }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
</div>

{% endblock content %}